html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
button,
cite,
code,
del,
dfn,
em,
img,
input,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: arial;
  display: block;
  cursor: default;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none; /* Chrome 49+ */
  -moz-user-select: none; /* Firefox 43+ */
  -ms-user-select: none; /* No support yet */
  user-select: none;
}
html,
body {
  min-height: 100% !important;
}

.Container {
  position: realive;
  display: flex;
  min-width: 500px;
  min-height: 70vh;
  width: 50vw;
  background: white;
  border-radius: 2vh;
  box-shadow: 0px 3px 5px 2px gray;
  margin-left: 25vw;
  margin-top: 5px;
}

.Incepe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  color: gray;
  font-size: 10vh;
}
.Incepe div:hover {
  color: rgb(31, 29, 29);
  cursor: pointer;
  padding: 5vh;
  border-radius: 2vh;
}

.Content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}
.Intrebare {
  border-radius: 2vh 2vh 0 0;
  background: rgb(19, 140, 140);
  padding: 10px;
  width: 100%;
  color: white;
  font-size: 3.5vh;
  display: flex;
}
.Raspunsuri {
  font-size: 5vh;
  color: gray;
  user-select: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: auto;
}
.RaspunsuriDaNu {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.RaspunsuriDaNu div {
  padding: 20px;
  width: 100%;
  text-align: center;
}
.RaspunsuriDaNu div:hover {
  background: rgb(130, 243, 0);
  color: white;
  cursor: pointer;
}
.RaspunsuriNuConteaza {
  padding: 20px;
  width: 100%;
  text-align: center;
}
.RaspunsuriNuConteaza:hover {
  background: rgb(130, 243, 0);
  color: white;
  cursor: pointer;
}
.MeniuContainer {
  display: flex;
  align-items: right;
  width: 100%;
  color: white;
  background: rgb(158, 158, 158);
  justify-content: flex-end;
  border-radius: 0 0 2vh 2vh;
}
.MeniuContainer div {
  cursor: pointer;
  margin: 1vh;
}
.TelefonFinal {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.TelefonFinal img {
  width: 50%;
  object-fit: cover;
  margin: auto;
}
.TelefonFinalNume {
  padding: 2vh;
  font-size: 3vh;
  color: gray;
  margin-top: auto;
}
.TextFinal {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: auto;
}
@media screen and (max-width: 800px) {
  .Container {
    min-width: 100%;
    max-width: 100%;
    margin: 0 !important;
    border-style: none;
    width: 100%;
    min-width: 0;
    height: 100vh;
    border-radius: 0;
  }
  .Container div {
    border-radius: 0;
  }
  .Raspunsuri {
    margin-bottom: 5vh;
  }
  .RaspunsuriDaNu div:hover {
    background-color: white !important;
    color: gray;
  }
  .RaspunsuriNuConteaza:hover {
    background-color: white !important;
    color: gray;
  }
  .MeniuContainer {
    position: absolute;
    bottom: 0;
  }
}
