html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
button,
cite,
code,
del,
dfn,
em,
img,
input,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: arial;
  display: block;
  cursor: default;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none; /* Chrome 49+ */
  -moz-user-select: none; /* Firefox 43+ */
  -ms-user-select: none; /* No support yet */
  user-select: none;
}
html,
body {
  min-height: 100% !important;
}

.colorScheme {
  background: #0b0c10;

  background: #1f2833;

  background: #c5c6c7;

  background: #66fcf1;

  background: #45a29e;
}
.ContainerTot {
  width: 100wh;
  height: 100vh;
  overflow: hidden;
}
.ContainerContent {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 93vh;
  margin: 0;
  border: 0;
  background: #c5c6c7;
  overflow: none;
}
.Content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 30vw;
  min-height: 70vh;
  width: 30vw;
  background: #45a29e;
  border-radius: 2vh;
  margin-bottom: 5vh;
  box-shadow: 0px 0px 10px 0px #333;
}

.ContentStanga {
  position: relative;
  height: 100%;
  width: 35vw;
}

.ContentDreapta {
  position: relative;
  width: 35vw;
}
.ContentStangaFixed {
  position: relative;
  background: #1f2833;
  width: 90%;
  height: 100%;
  overflow: hidden;
  box-shadow: 5px 0 10px -5px #333;
}
.ContentStangaHeader {
  width: 100%;
  padding: 10px;
  height: 6vh;
  font-size: 2.2vh;
  color: white;
  background: #0b0c10;
  font-weight: 800;
  box-shadow: 0 5px 5px -5px black;
}
.ContentStangaLista {
  height: 87vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}
.ContentDreaptaFixed {
  position: relative;
  height: 100%;
  width: 90%;
  overflow: hidden;
  background: #1f2833;
  margin-left: 10%;
  box-shadow: -5px 0 10px -5px #333;
}
.ContentDreaptaLista {
  width: 100%;
  height: 87vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Incepe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  color: gray;
  font-size: 10vh;
}
.Incepe div:hover {
  color: rgb(31, 29, 29);
  cursor: pointer;
  padding: 5vh;
  border-radius: 2vh;
}

.Intrebare {
  background: #45a29e;
  padding: 10vh 3vh 0 3vh;
  width: 100%;
  color: white;
  font-size: 5vh;
  display: flex;
  font-weight: 700;
  line-height: 200%;
  text-align: center;
}
.Raspunsuri {
  font-size: 5vh;
  color: gray;
  user-select: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: auto;
}
.RaspunsuriDaNu {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.RaspunsuriDaNu div {
  padding: 15px;
  width: 40%;
  text-align: center;
  color: white;
  cursor: pointer;
  font-weight: 700;
  border-radius: 10px;
  box-shadow: 0 5px 5px -5px #333;
}
.RaspunsuriDa:hover {
  background: rgb(108, 202, 0);
}
.RaspunsuriDa {
  background: rgb(130, 243, 0);
  margin-left: 5%;
}
.RaspunsuriNu {
  background: #f70002;
  margin-left: 10%;
}
.RaspunsuriNu:hover {
  background: hsl(0, 100%, 43%);
}
.RaspunsuriNuConteaza {
  box-shadow: 0 5px 5px -5px #333;
  padding: 20px;
  width: 90%;
  text-align: center;
  background: #66fcf1;
  color: white;
  font-weight: 700;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
  border-radius: 10px;
  margin-top: 10px;
}
.RaspunsuriNuConteaza:hover {
  background: rgb(119, 119, 119);
  color: white;
  cursor: pointer;
}
.MeniuContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 7vh;
  color: white;
  background: #0b0c10;
}
.MeniuContainer div {
  position: relative;
  cursor: pointer;
  width: 7vh;
  height: 7vh;
  padding: 1vh;
  transition: 0.5s;
  margin: 0 15px 0 15px;
}
.MeniuContainer div:hover {
  background: white;
}
.MeniuContainer img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.TelefonFinal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 30vw;
  height: 87vh;
  width: 30vw;
  background: #45a29e;
  border-radius: 2vh;
  margin-bottom: 5vh;
  box-shadow: 0px 0px 10px 0px #333;
  margin-left: 35vw;
  overflow: hidden;
}
.TelefonFinal img {
  width: 90%;
  height: 100%;
  padding: 5%;
  object-fit: cover;
  margin: auto;
}
.TelefonFinalNume {
  padding: 2vh;
  font-size: 3vh;
  color: white;
  margin-top: auto;
  font-weight: 700;
}
.TextFinal {
  position: relative;
  display: flex;
  flex-direction: column;
}
.telefonAfisaj {
  position: relative;
  width: 80px;
  height: 150px;
  color: white;
  font-size: 2vh;
  margin: 10px;
}
.telefonAfisaj div {
  margin-top: 5px;
}
.telefonAfisaj img {
  width: 100%;
  height: 70%;
  transition: 0.5s;
}
.telefonAfisaj:hover {
  z-index: 999;
}
.telefonAfisaj:hover img {
  margin-left: -40%;
  margin-top: -30%;
  width: 180%;
  height: 130%;
  cursor: pointer;
}
.notificare {
  position: relative;
  width: 95%;
  margin-top: 1vh;
  margin-left: 0;
  margin-right: auto;
  font-size: 3vh;
  font-weight: 600;
  color: white;
  padding: 10px;
  padding-left: 20px;
  border-radius: 0 5px 15px 0;
  box-shadow: 0 5px 5px -5px black;
  cursor: pointer;
}
.notificare div {
  cursor: pointer;
}
.notificare:hover {
  width: 98%;
  padding-right: 10%;
}

.ContentStangaLista::-webkit-scrollbar {
  width: 1em;
}

.ContentStangaLista::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.ContentStangaLista::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.ContentDreaptaLista::-webkit-scrollbar {
  width: 1em;
}

.ContentDreaptaLista::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.ContentDreaptaLista::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.responsiveArataContainerStanga,
.responsiveArataContainerDreapta {
  display: none;
}
.ViewerPoza {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1000;
  display: block;
  cursor: pointer;
  backdrop-filter: blur(10px);
}
.ContainerViewerPoza {
  position: relative;
  width: 30vw;
  margin-left: 35vw;
  height: 90vh;
  margin-top: 5vh;
  box-shadow: 0px 0px 10px 0px #333;
}
.ContainerViewerPoza img {
  width: 100%;
  height: 100%;
}
.ContainerViewerPoza div {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px;
  width: 100%;
  font-size: 4vh;
  color: white;
  font-weight: 800;
  backdrop-filter: blur(10px);
  text-shadow: 2px 2px 4px #000000;
}
@media screen and (max-width: 1000px) {
  .ContainerViewerPoza {
    width: 98vw;
    margin-left: 1vw;
    height: 90vh;
  }
  .ContainerContent {
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-coordinate: 0 0;
    scroll-snap-points-x: repeat(100%);
    scroll-snap-type: x mandatory;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    justify-content: none;
  }
  .ContentStanga {
    width: 100vw;
    transition: 0.5s;
    scroll-snap-align: start;
    flex: 0 0 100vw;
  }
  .ContentDreapta {
    width: 100vw;
    flex: 0 0 100vw;
    transition: 0.5s;
    scroll-snap-align: start;
  }
  .Content {
    width: 100vw;
    flex: 0 0 100vw;
    transition: 0.5s;
    scroll-snap-align: start;
  }
  .TelefonFinal {
    margin: 0 2vw 4vh 2vw;
    width: 100%;
    margin-left: auto;
  }

  .MeniuContainer div {
    margin: 0 5px 0 5px;
  }
  .responsiveArataContainerStanga,
  .responsiveArataContainerDreapta {
    display: block;
  }
}
