html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
button,
cite,
code,
del,
dfn,
em,
img,
input,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: arial;
  display: block;
  cursor: default;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none; /* Chrome 49+ */
  -moz-user-select: none; /* Firefox 43+ */
  -ms-user-select: none; /* No support yet */
  user-select: none;
}
html,
body {
  min-height: 100% !important;
}

.Container {
  display: flex;
  position: realive;
  min-width: 500px;
  min-height: 70vh;
  width: 50vw;
  background: white;
  border-radius: 2vh;
  box-shadow: 0px 3px 5px 2px gray;
  margin-left: 25vw;
  margin-top: 5px;
}

.Incepe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  color: gray;
  font-size: 10vh;
}
.Incepe div:hover {
  color: white;
  background: gray;
  cursor: pointer;
  padding: 5vh;
  border-radius: 2vh;
}

.Intrebare {
  border-radius: 2vh 2vh 0 0;
  background: rgb(19, 140, 140);
  padding: 10px;
  width: 100%;
  color: white;
  font-size: 3.5vh;
}
.Content {
  width: 100%;
}
.Raspunsuri {
  font-size: 3vh;
  color: gray;
  user-select: none;
  width: 100%;
}
.Raspunsuri div {
  padding: 10px;
  width: 100%;
}
.Raspunsuri div:hover {
  background: rgb(130, 243, 0);
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .Container {
    color: red;
    min-width: 98%;
    max-width: 98%;
    margin: 1% 0 0 1%;
    width: 98%;
    min-width: 0;
  }
}
